<div>
    <h3>Hi {{name}}</h3>
    <p>
        Your service has been requested, please use the link below to join
    </p>
    <p>
        <a href="{{roomLink}}">Join Meeting</a>
    </p>
    <p>
        Best Regards,
        <br/>
        DBC Team
    </p>
</div>